<div class="intro">
  <h3>Understanding <span>NoAuth</span></h3>
</div>
<div class="wrapper">
  <div class="text">
    <h2>What is <span>NoAuth</span>?</h2>
    <p><span>NoAuth</span> is a trust-based authorization mechanism, but it is also much more than that.
      <span>NoAuth</span> is an initiative to re-introduce trust into the wider internet.</p>

    <p>Where traditional security frameworks require convoluted and often misguided metaphors for trust like handshakes
      and keys, <span>NoAuth</span> understands that even between APIs, real friends have no secrets.
      All that is required in order to get started with <span>NoAuth</span> is the mutual understanding of trust
      between
      two participating parties.</p>

    <h2><span>NoAuth</span> Version 1</h2>
    <p>The first implementation of the <span>NoAuth</span> specification.
      Contains some vulnerabilities addressed in <span>NoAuth2</span>.
      While still a valid security mechanism, those interested in encouraging good behaviors in clients should use
      <span>NoAuth2</span>
    </p>

    <p>See examples <a href="/#/noauth">here</a></p>

    <h2><span>NoAuth</span> Version 2</h2>
    <p>An implementation of the <span>NoAuth</span> specification with inclusion of the <kbd>lying</kbd> attribute.
      For those interested in encouraging better client behaviors, we recommend <span>NoAuth</span> version 2.</p>

    <p>See examples <a href="/#/noauth2">here</a></p>
  </div>
</div>