<div class="intro">
    <h3><span>NoAuth</span> Version 1</h3>
</div>
<div class="wrapper">
    <div class="text">
        <p>The use of <span>NoAuth</span> version 1 is simple.
            For any case where the user needs to provide credentials, assume they are correct.
            This is the basis for a trusting relationship.
            Who's going to know the user's credentials better than themselves?</p>

        <p>As you can see in the example app below, we provide a simple combobox full of credentials to allow the user
            to find their account more quickly.
            After that, they can simply login and access their profile.
            It's that simple!</p>
    </div>
    <div class="application">
        <h3>My Secure App!</h3>
        <app-login *ngIf="!isLoggedIn" (loggedIn)="loggedIn($event)"></app-login>
        <app-profile *ngIf="isLoggedIn" [username]="username" (returned)="returned()"></app-profile>
    </div>
</div>