.intro {
    padding-top: 7%;
    text-align: center;
}

.wrapper {
    padding-top: 3%;
    background-color: white;
}

.text {
    width: 45%;
    margin: auto;
    padding-bottom: 50px;
    background-color: white;
    color: #5c666f;
    width: 40%;
    margin:auto;
    line-height: 2;
}

.application {
    color: black;
    border: 3px solid #126bc5;
    margin:auto;
    width: 30%;
    border-radius: 5px;
    min-height: 300px;
    text-align: center;
}